
/*header and menu mobile positioning*/
@media (max-width: 991px) {

	.container-head {
		display: block;
	}
	.navbar .lang {
		width: 60px;
		float: left;
	}
	.navbar-brand {
		margin-left: 30px !important;
	}
	header.row .navbar .navbar-header .navbar-toggle {
		top: 15px;
	}
	.how-it-works .section-header {
		background-size: cover !important;
	}

}
.navbar-default .nav li.active a.btn-default {
	background-color: #fff !important;
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
	background-color: #fff !important;
}

#main-navbar .btn-default {
	margin-right: 20px;
	background-color: #fff !important;
	box-shadow: 0px 3px 4px 4px #00000045;
}

.top-banner {
	min-height: 500px;
}

#product {
	margin-top: 120px;
}

#things .texts p {
	color: #FFF !important;
}
#things .split-column {
	background: rgba(0, 0, 0, 0.6) !important;
}

.section-header h2 {
	font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #272E3E;
}

.mytextblack {
	background: #13274C;
    color: #fff !important;
    padding: 10px;
    border-radius: 3px;
    margin-top: 0px;

}
.split-column .image img {
    box-shadow: 0 0 17px 20px #00000047;
    border-radius: 15px;
}

footer.row {
	background-color: #FBBF0E !important;
	color: #fff !important;
}
footer.row a {
	color: #fff;
}
footer.row .menu-rights p {
	color: #fff !important;
}
.add{
    display: flex;
    align-items: center;
}
.add img{
	width: 32px;
    margin-right: 10px;
}
.add p{
    margin: 0;
}

@media (max-width: 600px) {
	header.row  {
		background: url(/img/new/mobile.jpg) no-repeat scroll center bottom !important;
		background-size: cover;
	}
	.split-column .image img {
		border-radius: 0;
	}
}
.how-it-works .section-header {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}

.how-it-works h2 {
	padding-top: 100px;
}
